<div class="contact-page">

<div class="post-title">Thank You! Your Email Was Sent Successfully!</div>

<div class="about-body">
	
<p>Hey Jason and Nathan,<br/><br/>
Please use the following gmail login to test the contact form. I set up a new gmail account specifically to test this form. </p><br/>

<b>Username:</b> sbts.ruby.blog@gmail.com<br/>
<b>Password:</b> sbtsrubyblog1!<br/>




	
</div>
</div>
